!!!5
%head
  = partial :head
%body
  = partial :navbar
  .container#main-container
    .row
      .span4
        %h1 What is this?
        %p
          Welcome to The Legendary Faucet. I have used a few faucets and they seem to be popular to show people how to use Bitcoin so I figured I should have my own. I was lucky to find an open source solution and I forked it with my customisations.
		  Enter your Bitcoin address and the CAPTCHA (you are human, right?) then click to submit.
        %h4 The current faucet balance is BTC#{@balance}.
        = partial :anonads1
      .span8
        %form#bitcoin-form.well.form-horizontal(method='post')
          .control-group
            .controls
              %a.thumbnail#captcha-thumbnail
                %img#captcha-image{ :src => "http://captchator.com/captcha/image/#{@session_id}",
                                    :data => { :session_id => @session_id }}
          .control-group
            %label.control-label(for='captcha-input') Enter CAPTCHA Text:
            .controls
              #captcha-input-container
                %input.span2#captcha-input(name='captcha_text' type='text')
          .control-group
            %label.control-label(for='address-input') Enter Bitcoin Address:
            .controls
              #address-input-container
                %input.span4#address-input(type='text' name='address')
          #alert-container
          .form-actions
            %button.btn.btn-primary#form-submit Submit
      .row
        .span4
          = partial :coinurl
        .span4
          = partial :anonads2
      = partial :footer
